os:
- linux
- osx
#- windows
language: c
env:
- SBCL_VERSION="1.5.7"
branches:
  only:
  - master
cache:
  directories:
  - "$HOME/sbcl"
  - "$HOME/quicklisp"
  - "$HOME/.cache/common-lisp"
  - "$HOME/AppData/Local/cache/common-lisp"
install:
- SOURCE_DIR=$(pwd)
- cd ~
- if [ "$TRAVIS_OS_NAME" = "windows" -a ! -f "$HOME/sbcl/bin/sbcl" ]; then SBCL_WINDOWS="http://prdownloads.sourceforge.net/sbcl/sbcl-1.4.14-x86-64-windows-binary.msi";
  wget $SBCL_WINDOWS -O sbcl.msi; choco install lessmsi make; lessmsi x sbcl.msi $(cygpath
  -w "`pwd`/sbcl_ex/"); mv "sbcl_ex/SourceDir/PFiles/Steel Bank Common Lisp/1.4.14"
  sbcl_bin; export SBCL_HOME="`pwd`/sbcl_bin"; export PATH="`pwd`/sbcl_bin:${PATH}";
  fi
- if [ "$TRAVIS_OS_NAME" = "osx" -a ! -f "$HOME/sbcl/bin/sbcl" ]; then HOMEBREW_NO_AUTO_UPDATE=1
  brew install sbcl; fi
- if [ "$TRAVIS_OS_NAME" = "linux" -a ! -f "$HOME/sbcl/bin/sbcl" ]; then sudo apt
  update; sudo apt install sbcl; fi
- |
  if [ "$TRAVIS_OS_NAME" = "osx" ]; then
  HOMEBREW_NO_AUTO_UPDATE=1 brew install sdl2
  fi
- |
  if [ "$TRAVIS_OS_NAME" = "linux" ]; then
  travis_retry curl -L https://www.libsdl.org/release/SDL2-2.0.8.tar.gz | tar xz
  cd SDL2-2.0.8
  ./configure --prefix /usr
  make
  sudo make install
  cd ~
  fi
- if [ ! -f "$HOME/sbcl/bin/sbcl" ]; then SBCL_SOURCE="http://downloads.sourceforge.net/project/sbcl/sbcl/$SBCL_VERSION/sbcl-$SBCL_VERSION-source.tar.bz2";
  wget $SBCL_SOURCE -O sbcl.tar.bz2; tar -xf sbcl.tar.bz2; cd "sbcl-$SBCL_VERSION";
  sh make.sh --fancy; unset SBCL_HOME; INSTALL_ROOT=~/sbcl ./install.sh; cd ~; fi
- export SBCL_HOME="$HOME/sbcl/lib/sbcl"
- export PATH="$HOME/sbcl/bin:${PATH}"
- if [ ! -f "$HOME/quicklisp/setup.lisp" ]; then wget https://beta.quicklisp.org/quicklisp.lisp;
  sbcl --disable-debugger --eval "(load \"quicklisp.lisp\")" --eval "(quicklisp-quickstart:install)"
  --eval "(ql-util:without-prompting (ql:add-to-init-file))" --eval "(ql:update-all-dists)"
  --eval "(sb-ext:exit)"; else sbcl --disable-debugger --eval "(load \"quicklisp/setup.lisp\")"
  --eval "(ql-util:without-prompting (ql:add-to-init-file))" --eval "(sb-ext:exit)";
  rm -rf ~/quicklisp/local-projects; mkdir ~/quicklisp/local-projects; fi
- mv $SOURCE_DIR ~/quicklisp/local-projects
script:
- sbcl --disable-debugger --eval "(ql:update-all-dists)" --eval "(sb-ext:exit)"
- sbcl --disable-debugger --eval "(ql:quickload :float-features :verbose t)" --eval "(sb-ext:exit)"
- sbcl --disable-debugger --eval "(ql:quickload :deploy)" --eval "(ql:quickload :cepl-travis)"
  --eval "(sb-ext:exit)"
- sbcl --disable-debugger --eval "(ql:quickload :deploy)" --eval "(ql:quickload :cepl)"
  --eval "(deploy:define-library CL-OPENGL-BINDINGS::OPENGL :dont-deploy t)" --eval
  "(asdf:make :cepl-travis)"
- mv ~/quicklisp/local-projects/cepl-travis/bin ~/bin
before_deploy:
- if [ "$TRAVIS_OS_NAME" = "windows" ]; then choco install zip; fi
- mv ~/bin ~/quicklisp/local-projects/cepl-travis/bin
- cd ~/quicklisp/local-projects/cepl-travis
- if [ "$TRAVIS_OS_NAME" = "windows" ]; then mv bin/raptor-splitter bin/raptor-splitter.exe;
  fi
- mkdir release
- zip -r "release/binaries-$TRAVIS_OS_NAME.zip" bin;
- git tag -f latest
deploy:
  provider: releases
  api_key:
    secure: KN0SBipD8YlaKM9csGOLPP/vowQQ0ZpfeTaLiZqzbpoDrWr5TufRj+xGvH/a+GzCT3NLgeyGfqGuXNrK0qvh/9aoeLYyaNjhAezeWxhNhoCTjmCEabr5/+bLKlPg8WYaz00p5D3cQ8Hlig9ZPMoieSn0V4qceN3FRqlJKctAu4zleZptkXN3pMX0AIGWbq8u64Oqrmu0V0xLU4mg6pGhtQZ6m/NdPfd9ZbyFZUcqUSyhm9SINMlViMesVjc0zLZ+yj2TRHNrQwH4dvtx3WjCru2Q1HS6mPBMfTdyVK9z6JonKCY3zk3MonL4pWQnafH3sROVF2s4ny8zBeeM4sjqbGwPqieNsVAmq6apf/+B+YBMlhB4XoTrL0liPV1IRjCvss1BsswuBDTrGCpdtk4VN7RDnEx4BpkZ0wi9YcxuQIgD4oPoVZEHmVbUCTUNVZYS5BRh8cQNYGsZgGyjWVWuThWeOXgeXLZ7zoHHswYvOfkrt4fA3PGvTpSLXobd7m7xLnbG08OXiedFSk+CITV1kpO34Zh0C8pXgOpo7y/EDXRVFmRWA4iZrGEDH/FoIPP+T87aAPvoF29ZokFv4eLXRl1p4NwhN4sBz+R0pztdO7WwjliPrqrXMMl8CyujqVhZ64MVRlOvs+n/G3pgdRUnegaMRU+M+8MenJmLW4r+Ago=
  file_glob: true
  file: release/*
  on:
    repo: azimut/cepl-travis
  skip_cleanup: true
  overwrite: true
